@use "./base/body";
@use "./base/link";
@use "./layouts/header";
@use "./layouts/logo";
@use "./layouts/footer";
@import "./utils/mixins";


header {
    box-shadow: 0px 3px 6px $shadow_2;
}
.main {
    width: 100%;
    .location {
        display: inline-block;
        width: 100%;
        line-height: 50px;
        text-align: center;
        margin: auto;
        background-color: $fond_2;
        &__ico {
            margin-right: 10px;
        }
        &__txt {
            font-weight: 500;
        }
    }
    .search {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        background: linear-gradient(to top,$fond_2,$fond_1);
        &__h1 {
            font-size: x-large;
            font-weight: 600;
            margin: 40px 15% 0 15%;
        }
        &__p {
            font-size: larger;
            font-weight: 300;
            margin: 20px 5% 0 5%;
        }
        &__btn {
            margin: 30px 0 40px 0;
            @include btn--nav;
            &::after {
                content: "Explorer nos restaurants";
                @include btn--nav--active;
            }
        }
    }
    .running {
        margin: 40px 30px 20px 20px;
        &__h3 {
            font-size: x-large;
            font-weight: 600;
            margin-bottom: 20px;
        }
        &__assist {
            list-style-type: none;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding: 0;
            li {
                display: flex;
                flex-direction: row;
                align-items: center;
                white-space: nowrap;
                cursor: default;
                box-sizing: border-box;
                height: 75px;
                width: 100%;
                background: linear-gradient(to top, $fond_1, $fond_2);
                @include box--shadow;
                border-radius: 20px;
                padding: 0;
                margin-bottom: 25px;
                margin-left: 25px;
                font-weight: 500;
                position: relative;
                z-index: 1;
                &:hover {
                    &::after {
                        opacity: 1;
                    }
                    /*&.running__assist__ico--active {
                        opacity: 1;
                    }*/
                }
                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    border-radius: 20px;
                    z-index: -1;
                    opacity: 0;
                    background: lighten($primaire, 35%);
                    @include box--shadow($shadow_3);
                    transition: all 400ms;
                }       
            }
            &__ico {
                position: relative;
                font-size: larger;
                left: 12.5%;
                color: lighten($txt_1, 50%);
                z-index: +1;
            }
            &__ico--active {
                    position: absolute;
                    font-size: larger;
                    left: 12.5%;
                    color: $primaire;
                    opacity: 1;
                    z-index: -1;
            }
            &__txt {
                position: absolute;
                text-align: left;
                left: 25%; 
            }
            &__number {
                position: absolute;
                text-align: center;
                border-radius: 50%;
                height: 30px;
                width: 30px;
                line-height: 30px;
                color: $txt_2;
                background-color: $primaire;
                left: -15px;
            }
        }
    }
    .restos {
        background-color: $fond_2;
        width: 100%;
        &__h2 {
            font-size: x-large;
            font-weight: 600;
            padding-top: 60px;
            margin: 50px 20px 20px 20px;
        }
        &__liste {
            display: flex;
            flex-direction: column;
            padding-bottom: 50px; 
        }
        .resto {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            box-sizing: border-box;
            height: 260px;
            background-color: $fond_1;
            @include box--shadow;
            border-radius: 20px;
            margin: 0 20px 20px 20px;
            overflow: hidden;
            &__img {
                position: relative;
                width: 100%;
                height: 180px;
                object-fit: cover;
            }
            &__btn {
                position: absolute;
                right: 40px;
                margin-top: 20px;
                background-color: $tertiaire;
                color: darken($tertiaire, 50%);
                font-weight: 400;
                padding: 6px 12px;
                border-radius: 4px;
                box-shadow: 1px 1px 15px $shadow_4;
            }
            &__legend {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin: 15px;
                &__txt {
                    flex-direction: column;
                    justify-content: flex-start;
                    &__h3 {
                        font-size: large;
                        margin: 0;
                    }
                    &__location {
                        margin: 0px;
                    }
                }
                &__like {
                    display: block;
                    cursor: default;
                    margin-right: 5px; 
                    font-size: 28px;
                    position: relative;       
                    &--full {
                        color: $primaire;
                        @include heart--gradient;
                        background-clip: text;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        z-index: 0;
                    }
                    &--mask {
                        position: absolute;
                        color: $fond_1;
                        background-color: transparent;
                        top: -1px;
                        left: -1px;
                        z-index: 1;
                        transform-origin: top;
                        transform: scale(1.1);
                        transition: 600ms ease-in-out 100ms;
                    }
                    &:hover .resto__legend__like--mask, &:active .resto__legend__like--mask {
                        transform: scale(0%);
                    }
                    &--empty {
                        position: absolute;
                        top: 1px;
                        left: -2px;
                        padding: auto;
                        font-size: 31px;
                        background-color: transparent;
                        z-index: 2;
                    }
                } 
            } 
        }
    }
}
