@import "./utils/variables";
@import "./utils/mixins";
@import "./base/body";
@import "./base/link";
@import "./layouts/header";
@import "./layouts/logo";
@import "./layouts/footer";
@import "./pages/accueil";
@import "./pages/restaurant";


header {
    box-shadow: 0px 3px 6px $shadow_light;
}
.main {
    width: 100%;
    .location {
        display: inline-block;
        width: 100%;
        line-height: 50px;
        text-align: center;
        margin: auto;
        background-color: $fond_gris;
        &__ico {
            margin-right: 10px;
        }
        &__txt {
            font-weight: 500;
        }
    }
    .search {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        background: linear-gradient(to top,$fond_gris,$blanc);
        &__h1 {
            font-size: x-large;
            font-weight: 600;
            margin: 40px 15% 0 15%;
        }
        &__p {
            font-size: larger;
            font-weight: 300;
            margin: 20px 5% 0 5%;
        }
        &__btn {
            margin: 30px 0 40px 0;
            white-space: nowrap;
            padding: 0 30px;
            height: 50px;
            border-radius: 25px;
            border: none;
            @include police-texte;
            color: $blanc;
            font-size: medium;
            font-weight: 500;
            cursor: pointer;
            @include ombre;
            @include btn--gradient;
            &:hover {
                @include btn--gradient--light;
            }
        }
    }
    .running {
        margin: 40px 30px 20px 20px;
        &__h3 {
            font-size: x-large;
            font-weight: 600;
            margin-bottom: 20px;
        }
        &__assist {
            list-style-type: none;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding: 0;
            li {
                display: flex;
                flex-direction: row;
                align-items: center;
                white-space: nowrap;
                cursor: default;
                box-sizing: border-box;
                height: 75px;
                width: 100%;
                background: linear-gradient(to top, $blanc, $fond_gris);
                @include ombre;
                border-radius: 20px;
                padding: 0;
                margin-bottom: 25px;
                margin-left: 25px;
                font-weight: 500;
                position: relative;
                &:hover {
                    background: lighten($primaire, 35%);
                    .running__assist__ico {
                        color: $primaire;
                    }
                }   
            }
            &__ico {
                position: relative;
                font-size: larger;
                left: 12.5%;
                color: lighten($noir, 50%);
            }
            &__txt {
                position: absolute;
                text-align: left;
                left: 25%; 
            }
            &__number {
                position: absolute;
                text-align: center;
                border-radius: 50%;
                height: 30px;
                width: 30px;
                line-height: 30px;
                color: $blanc;
                background-color: $primaire;
                left: -15px;
            }
        }
    }
    .restos {
        background-color: $fond_gris;
        width: 100%;
        &__h2 {
            font-size: x-large;
            font-weight: 600;
            padding-top: 60px;
            margin: 50px 20px 20px 20px;
        }
        &__liste {
            display: flex;
            flex-direction: column;
            padding-bottom: 50px; 
        }
        .resto {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            box-sizing: border-box;
            height: 260px;
            background-color: $blanc;
            @include ombre;
            border-radius: 20px;
            margin: 0 20px 20px 20px;
            overflow: hidden;
            &__img {
                position: relative;
                width: 100%;
                height: 180px;
                object-fit: cover;
            }
            &__btn {
                position: absolute;
                right: 40px;
                margin-top: 20px;
                background-color: $tertiaire;
                color: darken($tertiaire, 50%);
                padding: 6px 12px;
                border-radius: 4px;
                box-shadow: 1px 1px 15px $noir;
            }
            &__legend {
                margin: -4px 15px 15px 15px;
                &__h3 {
                    font-size: large;
                }
                &__location {
                    margin-top: -15px;
                }
            }
            &__like {
                position: relative;
                left: 86%;
                top: -58px;
                font-size: 28px;
                font-weight: 100;
                &--empty {
                    position: absolute;
                    background-clip: text;
                    @include heart--gradient;
                }
                &--full {
                    position: absolute;
                    background-clip: text;
                    background: $blanc;
                    opacity: 0.5;
                }
            }
        }
    }
}