@import "./utils/_variables";
@import "./utils/_mixins";
@import "./base/fonts";
@import "./layouts/footer";
@import "./pages/accueil";
@import "./pages/restaurant";

body {
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    font-weight: 400;
    font-style: normal;
    background-color: #ffffff;
    color: black;
    width: 100%;
    margin: 0;
}
a {
    display: inline-block;
    text-decoration: none;
    color: black;
    cursor: pointer;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 60px;
    box-shadow: 0px 3px 6px $shadow;
    overflow: hidden;
}
.logo {
    width: 50%;
    height: auto;
    margin: auto;
    padding-top: 10px;
}
.location {
    display: inline-block;
    width: 100%;
    line-height: 50px;
    text-align: center;
    margin: auto;
    background-color: $fond;
    &__ico {
        margin-right: 10px;
    }
    &__txt {
        font-weight: 500;
    }
}
.search {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background: linear-gradient(to top,$fond,white);
    &__h1 {
        font-size: x-large;
        font-weight: 600;
        margin: 40px 15% 0 15%;
    }
    &__p {
        font-size: larger;
        font-weight: 300;
        margin: 20px 5% 0 5%;
    }
    &__btn {
        margin: 30px 0 40px 0;
        white-space: nowrap;
        padding: 0 30px;
        height: 50px;
        border-radius: 25px;
        border: none;
        font-family: 'Roboto', sans-serif;
        color: white;
        font-size: medium;
        font-weight: 500;
        cursor: pointer;
        @include ombre;
        @include btn--gradient;
        &:hover {
            @include btn--gradient--light;
        }
    }
}
.main {
    width: 100%;
    .running {
        margin: 40px 30px 20px 20px;
        &__h3 {
            font-size: x-large;
            font-weight: 600;
            margin-bottom: 20px;
        }
        &__assist {
            list-style-type: none;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding: 0;
            li {
                display: flex;
                flex-direction: row;
                align-items: center;
                
                white-space: nowrap;
                cursor: pointer;
                box-sizing: border-box;
                height: 75px;
                width: 100%;
                background: linear-gradient(to top,white, $fond);
                @include ombre;
                border-radius: 20px;
                padding: 0;
                margin-bottom: 25px;
                margin-left: 25px;
                font-weight: 500;
                position: relative;
            }
            &__ico {
                position: relative;
                font-size: larger;
                left: 12.5%;
                color: lighten(black, 50%);

            }
            li.inlight {
                background: lighten($primaire, 35%);
                .running__assist__ico {
                    color: $primaire;
                }
            }
            &__txt {
                position: absolute;
                text-align: left;
                left: 25%;
            
                
            }
            &__number {
                position: absolute;
                text-align: center;
                border-radius: 50%;
                height: 30px;
                width: 30px;
                line-height: 30px;
                color: white;
                background-color: $primaire;
                left: -15px;
            }
        }
    }
    .restos {
        background-color: $fond;
        width: 100%;
        &__h2 {
            font-size: x-large;
            font-weight: 600;
            padding-top: 60px;
            margin: 50px 20px 20px 20px;
        }
        &__liste {
            display: flex;
            flex-direction: column;
            padding-bottom: 50px;
            
        }
    }
    .resto {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 260px;
        background-color: #fff;
        @include ombre;
        border-radius: 20px;
        margin: 0 20px 20px 20px;
        overflow: hidden;
        &__img {
            
            position: relative;
            width: 100%;
            height: 180px;
            object-fit: cover;
            overflow: hidden;
        }
        &__btn {
            position: absolute;
            left: 67%;
            margin-top: 15px;
            background-color: $tertiaire;
            color: darken($tertiaire, 50%);
            padding: 6px 12px;
            border-radius: 4px;
            box-shadow: 1px 1px 15px black;
        }
        &__legend {
            margin: -4px 15px 15px 15px;
        }
        &__h3 {
            font-size: large;
        }
        &__location {
            margin-top: -15px;
        }
        &__like {
            position: relative;
            left: 85%;
            top: -21%;
            font-size: 28px;
            font-weight: 100;
            &--empty {
                position: absolute;
                background-clip: text;
                @include heart--gradient;
            }
            &--full {
                position: absolute;
                background-clip: text;
                background: white;
                opacity: 0.5;
            }
        }
    }
}
.footer {
    background-color: lighten(black, 25%);
    padding: 10px 20px 30px 30px;

    &__h4 {
        font-family: 'shrikhand', sans-serif;
        font-size: 22px;
        font-weight: 200;
        color: white;
        margin-bottom: 0px;
    }
    &__list {
        list-style-type: none;
        padding: 0;
        li a {
            display: inline-block;
            line-height: 25px;
            color: white;
            position: relative;
        }
    }
    &__txt--tabul {
        margin-left: 22px;
    }
    &__ico {
        font-size: 13px;
        top: 5px;
        position: absolute;
    }
}
