@use "./base/body";
@use "./base/link";
@use "./layouts/header";
@use "./layouts/logo";
@use "./layouts/footer";
@import "./utils/mixins";


header {
    box-shadow: none;
    .home__btn {
    position: absolute;
    font-size: 24px;
    left: 20px;
    }
}
.resto {
    width: 100%;
    display: flex;
    flex-direction: column;
    &__img {
        position: relative;
        width: 100%;
        height: 270px;
        object-fit: cover;
        overflow: hidden;
    }
    &__id {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px 30px 20px;
        background-color: $fond_2;
        border-radius: 30px 30px 0 0;
        top: -60px;
        &__h1 {
            font-family: 'shrikhand', sans serif;
            font-weight:100;
            font-size: 28px;
        }
        &__like {
            font-size: 28px;
            position: relative;
            &--full {
                position: relative;
                color: $primaire;
                @include heart--gradient;
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            &--mask {
                position: absolute;
                color: $fond_2;
                background-color: $fond_2;
                top: 0;
                left: -1px;
                transform-origin: top;
                transform: scale(1.1);
                transition: 600ms ease-in-out 100ms;
            }
            &:hover .resto__id__like--mask, &:focus .resto__id__like--mask  &:active .resto__id__like--mask {
                transform: scaley(0);
            }
            &--empty {
                position: absolute;
                color: $txt_1;
                top: 1px;
                left: -2px;
                font-size: 31px;
                background-color: transparent;
            }
        } 
    }
    .menu {
        position: relative;
        top: -100px;
        padding: 0px 20px 20px 20px;
        background-color: $fond_2;
        margin-bottom: -100px;
        &__part {
            margin-bottom: 30px;
            &__h2 {
                font-size: 19px;
                text-transform: uppercase;
                font-weight: 400;
                padding-bottom: 5px;
                margin-left: 10px;
                border-bottom: 4px solid $tertiaire;
                width: 50px;
            }
            @keyframes apparition {
                0% {
                    transform: translatey(30%);
                    opacity: 0;
                }
                100% {
                    transform: translatey(0%);
                    opacity: 1;
                }
            }
            &__list {
                list-style-type: none;
                padding: 0;
                .item {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    box-sizing: border-box;
                    width: 100%;
                    height: 70px;
                    background-color: $fond_1;
                    border-radius: 15px;
                    @include box--shadow;
                    margin-bottom: 20px;
                    overflow: hidden;
                    animation: apparition 400ms ease-in-out both;
                    @for $i from 1 through 3 {
                        &--#{$i} {
                            animation-delay: 200ms * $i;
                         }
                    }
                    &:hover .item__btn, &:focus .item__btn, &:active .item__btn {
                        width: 30%;
                        
                        &__check {
                            transform: translatex(0) rotate(360deg);
                        }
                    }
                    &:hover .item__legend, &:focus .item__legend, &:active .item__legend {
                        width: 70%;
                    }
                    &__legend {
                        box-sizing: border-box;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        width: 100%;
                        white-space: nowrap;
                        padding: 0;
                        padding: 15px;
                        transition: width 600ms ease-in-out; 
                        &__h3 {
                            font-size: 17px;
                            font-weight: 600;
                            margin: 0;
                            padding: 0;
                            text-overflow: ellipsis;
                        }
                        &__txt {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            width: 100%;
                            margin: 5px 0 0 0;
                            padding: 0;
                            font-size: 14px;
                            &__detail {
                                text-overflow: ellipsis;
                                overflow: hidden;
                                width: calc(100% - 35px);
                            }
                            &__price {
                                width: 25px;
                                padding: 0 0 0 10px;
                                font-weight: 600;
                            }
                        }
                    }
                    &__btn {
                        position: relative;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 0%;
                        background-color: $tertiaire;
                        font-size: 25px;
                        
                        transition: all 600ms ease-in-out;
                        overflow: hidden;
                        &__check {
                            position: absolute;
                            color: $fond_1;
                            transform: translatex(75%) rotate(0deg);
                            transition: transform 400ms 200ms ease-in-out;
                        }
                    }
                }
            }
        }
    }
    .order {
        width: 100%;
        display: inline-flex;
        justify-content: center;
        background-color: $fond_2;
        margin-top: 0;
        &__btn {
            text-align: center;
            margin: 0px 0 50px 0;
            @include btn--nav;
            &::after {
                content: "Commander";
                @include btn--nav--active;
            }
        }
    }
}
