@use "./base/body";
@use "./base/link";
@use "./layouts/header";
@use "./layouts/logo";
@use "./layouts/footer";
@import "./utils/mixins";


header {
    .home__btn {
    position: absolute;
    font-size: 24px;
    left: 20px;
    }
}
.resto {
    width: 100%;
    &__img {
        position: relative;
        width: 100%;
        height: 270px;
        object-fit: cover;
        overflow: hidden;
    }
    &__id {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px 30px 20px;
        background-color: $fond_2;
        border-radius: 30px 30px 0 0;
        top: -60px;
        &__h1 {
            font-family: 'shrikhand', sans serif;
            font-weight:100;
            font-size: 28px;
        }
        &__like {
            display: block;
            cursor: default;
            font-size: 28px;
            position: relative;       
            &--full {
                color: $primaire;
                @include heart--gradient;
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                z-index: 0;
            }
            &--mask {
                position: absolute;
                color: $fond_1;
                background-color: transparent;
                top: -1px;
                left: -1px;
                z-index: 1;
                transform-origin: top;
                transform: scale(1.1);
                transition: 600ms ease-in-out 100ms;
            }
            &:hover .resto__id__like--mask, &:focus .resto__id__like--mask  &:active .resto__id__like--mask {
                transform: scale(0%);
            }
            &--empty {
                position: absolute;
                top: 1px;
                left: -2px;
                padding: auto;
                font-size: 31px;
                background-color: transparent;
                z-index: 2;
            }
        } 
    }
    .menu {
        position: relative;
        top: -100px;
        padding: 0px 20px 20px 20px;
        background-color: $fond_2;
        margin-bottom: -100px;
        &__part {
            margin-bottom: 30px;
            &__h2 {
                font-size: 19px;
                text-transform: uppercase;
                font-weight: 400;
                padding-bottom: 5px;
                margin-left: 10px;
                border-bottom: 4px solid $tertiaire;
                width: 50px;
            }
            &__list {
                list-style-type: none;
                padding: 0;
                .item {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    box-sizing: border-box;
                    background-color: $fond_1;
                    border-radius: 15px;
                    @include box--shadow;
                    margin-bottom: 20px;
                    overflow: hidden;
                    &__legend {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        flex-wrap: nowrap;
                        margin: 15px;
                        &__h3 {
                            font-size: 17px;
                            font-weight: 600;
                            margin: 0;
                        }
                        &__txt {
                            margin: 5px 0 0 0;
                            font-size: 14px;
                        }
                    }
                    &__price {
                        align-self: flex-end;
                        margin-right: 15px;
                    }
                    &__btn {
                        display: none;
                    }
                }
            }
        }
    }
    .order {
        width: 100%;
        display: inline-block;
        text-align: center;
        background-color: $fond_2;
        margin-top: 0;
        .order__btn {
            margin: 0px 0 50px 0;
            @include btn--nav;
            &::after {
                content: "Commander";
                @include btn--nav--active;
            }
        }
    }
}
