header {
    .home__btn {
        left: 10%;
    }
}
.resto {
    &__img {
        height: 350px;
    }
    &__id {
        padding: 10px 11% 30px 10%;
    }
    .menu {
        padding: 0 10% 20px 10%;
        &__part {
            &__list {
                .item {
                    height: 85px;
                    &:hover .item__btn, &:focus .item__btn, &:active .item__btn {
                        width: 20%;
                        transform: translatex(0%);
                        &__check {
                            transform: translatex(0) rotate(360deg);
                        }
                    }
                    &:hover .item__legend, &:focus .item__legend, &:active .item__legend {
                        width: 80%;
                    }
                    &__legend {
                        padding: 20px;
                        &__h3 {
                            font-size: 18px;
                        }
                        &__txt {
                            font-size: 15px;
                        }
                    }
                    &__btn {
                        font-size: 26px;
                    }
                }
            }
        }
    }
}
.footer {
    padding-left: 10%;
}