header {
    .home__btn {
        left: 10%;
    }
}
.resto {
    &__img {
        height: 350px;
    }
    &__id {
        padding: 10px 11% 30px 10%;
    }
    .menu {
        padding: 0 10% 20px 10%;
        &__part {
            &__list {
                .item {
                    height: 85px;
                    &__legend {
                        &__h3 {
                            font-size: 18px;
                        }
                        &__txt {
                            font-size: 15px;
                        }
                    }
                    &__btn {
                        font-size: 26px;
                    }
                }
            }
        }
    }
}
.footer {
    padding-left: 10%;
}