$primaire: #9356DC;
$secondaire: #FF79DA;
$tertiaire: #99E2D0;
$txt_1: #000;
$txt_2: #fff;
$fond_1: #fff;
$fond_2: #f2f2f2;
$fond_3: #222222;
$shadow_1: #c7c7c7;
$shadow_2: #c6c6c6;
$shadow_3: #c3c3c3;
$shadow_4: #7c7c7c;
