.resto__id {
  justify-content: center;
  align-items: center;
  border-bottom: 4px solid #99E2D0;
  margin-bottom: 20px;
}
.resto__id__h1 {
  font-size: 32px;
  padding: 0 20px 0 30px;
  border-bottom: 4px solid #FF79DA;
}
.resto__id__like {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}
.resto__id__like--full {
  position: absolute;
}
.resto__id__like--mask {
  top: 11px;
  left: 11px;
}
.resto__id__like--empty {
  top: 10px;
  left: 10px;
}
.resto .menu {
  padding: 0px 50px 20px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.resto .menu__part {
  margin-bottom: 20px;
  width: 30%;
}
.resto .menu__part__list .item {
  height: 80px;
}
.resto .menu__part__list .item__legend__h3 {
  font-size: 17px;
}
.resto .menu__part__list .item__legend__txt {
  font-size: 14px;
}
.resto .menu__part__list .item__btn {
  font-size: 28px;
}

.footer {
  padding: 20px 150px 20px 150px;
}
.footer__h4 {
  display: none;
}
.footer__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
