body {
  font-family: "Roboto", sans-serif;
  font-size: medium;
  font-weight: 300;
  font-style: normal;
  background-color: #fff;
  width: 100%;
  margin: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 60px;
  padding-top: 10px;
  box-shadow: 0px 3px 6px #c3c3c3;
}

.logo {
  width: 200px;
  height: auto;
  margin: auto;
}

.footer {
  background-color: #222222;
  padding: 10px 20px 30px 30px;
  margin-top: -15px;
}
.footer__h4 {
  font-family: "shrikhand", sans-serif;
  font-weight: 100;
  font-size: 22px;
  color: #fff;
  margin-bottom: 0px;
}
.footer__list {
  list-style-type: none;
  padding: 0;
}
.footer__list__item a {
  display: inline-block;
  line-height: 25px;
  color: #fff;
  position: relative;
}
.footer__list__item__ico {
  font-size: 13px;
  top: 5px;
  position: absolute;
}
.footer__list__item__tabul {
  margin-left: 22px;
}

@keyframes light {
  25% {
    transform: translate(2px, 0px);
  }
  50% {
    transform: translate(0px, 2px);
  }
  75% {
    transform: translate(-2px, 0px);
  }
}
@keyframes shadow {
  25% {
    transform: translate(-2px, 0px);
  }
  50% {
    transform: translate(0px, -2px);
  }
  75% {
    transform: translate(2px, 0px);
  }
}
@keyframes backlight {
  0% {
    background: linear-gradient(-25deg, #9356DC, #99E2D0 40%);
  }
  5% {
    background: linear-gradient(-7deg, #222222, #fff 40%);
  }
  10% {
    background: linear-gradient(11deg, #9356DC, #99E2D0 40%);
  }
  15% {
    background: linear-gradient(29deg, #222222, #fff 40%);
  }
  20% {
    background: linear-gradient(47deg, #9356DC, #99E2D0 40%);
  }
  25% {
    background: linear-gradient(65deg, #222222, #fff 40%);
  }
  30% {
    background: linear-gradient(83deg, #9356DC, #99E2D0 40%);
  }
  35% {
    background: linear-gradient(101deg, #222222, #fff 40%);
  }
  40% {
    background: linear-gradient(119deg, #9356DC, #99E2D0 40%);
  }
  45% {
    background: linear-gradient(137deg, #222222, #fff 40%);
  }
  50% {
    background: linear-gradient(155deg, #9356DC, #99E2D0 40%);
  }
  55% {
    background: linear-gradient(173deg, #222222, #fff 40%);
  }
  60% {
    background: linear-gradient(191deg, #9356DC, #99E2D0 40%);
  }
  65% {
    background: linear-gradient(209deg, #222222, #fff 40%);
  }
  70% {
    background: linear-gradient(227deg, #9356DC, #99E2D0 40%);
  }
  75% {
    background: linear-gradient(245deg, #222222, #fff 40%);
  }
  80% {
    background: linear-gradient(263deg, #9356DC, #99E2D0 40%);
  }
  85% {
    background: linear-gradient(281deg, #222222, #fff 40%);
  }
  90% {
    background: linear-gradient(299deg, #9356DC, #99E2D0 40%);
  }
  95% {
    background: linear-gradient(317deg, #222222, #fff 40%);
  }
  100% {
    background: linear-gradient(335deg, #9356DC, #99E2D0 40%);
  }
}
@keyframes blur {
  0% {
    filter: blur(7px);
  }
  90% {
    filter: blur(7px);
  }
  100% {
    filter: blur(0px);
  }
}
@keyframes loader_display {
  0% {
    opacity: 100%;
  }
  80% {
    opacity: 95%;
  }
  100% {
    opacity: 0%;
    display: none;
    z-index: 0;
  }
}
@keyframes scroll {
  0% {
    overflow-y: hidden;
  }
  100% {
    overflow-y: hidden;
  }
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 4;
  opacity: 100%;
  animation: loader_display 3s 200ms linear both;
}
.loader .backlight {
  animation: backlight 1500ms linear infinite;
}
.loader .identity--background--light {
  animation: light 1500ms linear infinite;
}
.loader .identity--background--shadow {
  animation: shadow 1500ms linear infinite;
}
.loader .backlight {
  content: "";
  position: absolute;
  background: linear-gradient(83deg, #222222, #fff 50%);
  opacity: 85%;
  width: 100%;
  height: 100%;
}
.loader .identity--background--light {
  position: absolute;
  font-family: "shrikhand", sans-serif;
  font-weight: 100;
  text-shadow: -1px -1px 1px white;
  font-size: 40px;
  color: white;
  margin: auto;
}
.loader .identity--background--shadow {
  position: absolute;
  font-family: "shrikhand", sans-serif;
  font-weight: 100;
  text-shadow: 1px 1px 1px black;
  font-size: 40px;
  color: black;
  margin: auto;
}
.loader .identity--color {
  position: absolute;
  font-family: "shrikhand", sans-serif;
  font-weight: 100;
  font-size: 40px;
  color: #9356DC;
  background: linear-gradient(to left top, #8641d8, #ff60d3);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: auto;
  padding: 20px;
}

.blur {
  filter: none;
  animation: blur 2.9s linear;
}

html {
  overflow-y: visible;
  animation: scroll 2.5s;
}

.main {
  width: 100%;
}
.main .location {
  display: inline-block;
  width: 100%;
  line-height: 50px;
  text-align: center;
  margin: auto;
  background-color: #f2f2f2;
}
.main .location__ico {
  margin-right: 10px;
}
.main .location__txt {
  font-weight: 500;
}
.main .search {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background: linear-gradient(to top, #f2f2f2, #fff);
}
.main .search__h1 {
  font-size: x-large;
  font-weight: 600;
  margin: 40px 15% 0 15%;
}
.main .search__p {
  font-size: larger;
  font-weight: 300;
  margin: 20px 5% 0 5%;
}
.main .search__btn {
  margin: 30px 0 40px 0;
  width: 240px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  border: none;
  font-family: "Roboto", sans-serif;
  user-select: none;
  color: #fff;
  font-size: medium;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 3px 3px 8px #c7c7c7;
  background: linear-gradient(to left top, #9356dc, #ff79da);
  position: relative;
  z-index: 1;
}
.main .search__btn:hover::after, .main .search__btn:focus::after, .main .search__btn:active::after {
  opacity: 1;
}
.main .search__btn::after {
  content: "Explorer nos restaurants";
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0;
  background: linear-gradient(to left top, #a978e3, #ffa2e5);
  box-shadow: 3px 3px 8px #c6c6c6;
  text-shadow: 1px 1px 2px #7c7c7c;
  border-radius: 25px;
  transition: all 400ms;
}
.main .running {
  margin: 40px 30px 20px 20px;
}
.main .running__h3 {
  font-size: x-large;
  font-weight: 600;
  margin-bottom: 20px;
}
.main .running__assist {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}
.main .running__assist li {
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  cursor: default;
  user-select: none;
  box-sizing: border-box;
  height: 75px;
  width: 100%;
  background: linear-gradient(to top, #fff, #f2f2f2);
  box-shadow: 3px 3px 8px #c7c7c7;
  border-radius: 20px;
  padding: 0;
  margin-bottom: 25px;
  margin-left: 25px;
  font-weight: 500;
  position: relative;
  z-index: 1;
}
.main .running__assist li:hover::after, .main .running__assist li:focus::after, .main .running__assist li:active::after {
  opacity: 1;
}
.main .running__assist li:hover .running__assist__ico--active, .main .running__assist li:focus .running__assist__ico--active, .main .running__assist li:active .running__assist__ico--active {
  opacity: 1;
}
.main .running__assist li::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 20px;
  z-index: -1;
  opacity: 0;
  background: #f2eafb;
  box-shadow: 3px 3px 8px #c3c3c3;
  transition: all 400ms;
}
.main .running__assist__ico {
  position: relative;
  font-size: larger;
  left: 12.5%;
  color: gray;
  z-index: 0;
}
.main .running__assist__ico--active {
  position: absolute;
  font-size: larger;
  left: 12.5%;
  color: #9356DC;
  opacity: 0;
  z-index: 1;
}
.main .running__assist__txt {
  position: absolute;
  text-align: left;
  left: 25%;
}
.main .running__assist__number {
  position: absolute;
  text-align: center;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  line-height: 30px;
  color: #fff;
  background-color: #9356DC;
  left: -15px;
}
.main .restos {
  background-color: #f2f2f2;
  width: 100%;
}
.main .restos__h2 {
  font-size: x-large;
  font-weight: 600;
  padding-top: 60px;
  margin: 50px 20px 20px 20px;
}
.main .restos__liste {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}
.main .restos .resto {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  height: 260px;
  background-color: #fff;
  box-shadow: 3px 3px 8px #c7c7c7;
  border-radius: 20px;
  margin: 0 20px 20px 20px;
  position: relative;
  overflow: hidden;
}
.main .restos .resto__img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}
.main .restos .resto__btn {
  position: absolute;
  right: 20px;
  margin-top: 20px;
  background-color: #99E2D0;
  color: #1b6150;
  font-weight: 400;
  padding: 6px 12px;
  border-radius: 4px;
  box-shadow: 1px 1px 15px #7c7c7c;
}
.main .restos .resto__legend {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 85px;
  margin: 15px;
}
.main .restos .resto__legend__h3 {
  font-size: large;
  margin: 0;
}
.main .restos .resto__legend__location {
  margin: 0px;
}
.main .restos .resto__like {
  margin-right: 5px;
  font-size: 28px;
  position: absolute;
  bottom: 25px;
  right: 25px;
}
.main .restos .resto__like--full {
  position: relative;
  color: #9356DC;
  background: linear-gradient(to top, #FF79DA 40%, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main .restos .resto__like--mask {
  position: absolute;
  color: #fff;
  background-color: #fff;
  top: -1px;
  left: -1px;
  transform-origin: top;
  transform: scale(1.1);
  transition: 600ms ease-in-out 100ms;
}
.main .restos .resto__like:hover .resto__like--mask, .main .restos .resto__like:focus .resto__like--mask, .main .restos .resto__like:active .resto__like--mask {
  transform: scaley(0);
}
.main .restos .resto__like--empty {
  position: absolute;
  top: 1px;
  left: -2px;
  font-size: 31px;
  background-color: transparent;
}
