body {
  font-family: "Roboto", sans-serif;
  font-size: medium;
  font-weight: 300;
  font-style: normal;
  background-color: #fff;
  width: 100%;
  margin: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 60px;
  padding-top: 10px;
  overflow: hidden;
}

.logo {
  width: 200px;
  height: auto;
  margin: auto;
}

.footer {
  background-color: #222222;
  padding: 10px 20px 30px 30px;
  margin-top: -15px;
}
.footer__h4 {
  font-family: "shrikhand", sans-serif;
  font-weight: 100;
  font-size: 22px;
  color: #fff;
  margin-bottom: 0px;
}
.footer__list {
  list-style-type: none;
  padding: 0;
}
.footer__list__item a {
  display: inline-block;
  line-height: 25px;
  color: #fff;
  position: relative;
}
.footer__list__item__ico {
  font-size: 13px;
  top: 5px;
  position: absolute;
}
.footer__list__item__tabul {
  margin-left: 22px;
}

header {
  box-shadow: 0px 3px 6px #c6c6c6;
}

.main {
  width: 100%;
}
.main .location {
  display: inline-block;
  width: 100%;
  line-height: 50px;
  text-align: center;
  margin: auto;
  background-color: #f2f2f2;
}
.main .location__ico {
  margin-right: 10px;
}
.main .location__txt {
  font-weight: 500;
}
.main .search {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background: linear-gradient(to top, #f2f2f2, #fff);
}
.main .search__h1 {
  font-size: x-large;
  font-weight: 600;
  margin: 40px 15% 0 15%;
}
.main .search__p {
  font-size: larger;
  font-weight: 300;
  margin: 20px 5% 0 5%;
}
.main .search__btn {
  margin: 30px 0 40px 0;
  width: 240px;
  height: 50px;
  border-radius: 25px;
  border: none;
  font-family: "Roboto", sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #fff;
  font-size: medium;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 3px 3px 8px #c7c7c7;
  background: linear-gradient(to left top, #9356dc, #ff79da);
  position: relative;
  z-index: 1;
}
.main .search__btn:hover::after, .main .search__btn:focus::after, .main .search__btn:active::after {
  opacity: 1;
}
.main .search__btn::after {
  content: "Explorer nos restaurants";
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0;
  background: linear-gradient(to left top, #a978e3, #ffa2e5);
  box-shadow: 3px 3px 8px #c6c6c6;
  text-shadow: 1px 1px 2px #7c7c7c;
  border-radius: 25px;
  transition: all 400ms;
}
.main .running {
  margin: 40px 30px 20px 20px;
}
.main .running__h3 {
  font-size: x-large;
  font-weight: 600;
  margin-bottom: 20px;
}
.main .running__assist {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}
.main .running__assist li {
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  box-sizing: border-box;
  height: 75px;
  width: 100%;
  background: linear-gradient(to top, #fff, #f2f2f2);
  box-shadow: 3px 3px 8px #c7c7c7;
  border-radius: 20px;
  padding: 0;
  margin-bottom: 25px;
  margin-left: 25px;
  font-weight: 500;
  position: relative;
  z-index: 1;
}
.main .running__assist li:hover::after, .main .running__assist li:focus::after, .main .running__assist li:active::after {
  opacity: 1;
}
.main .running__assist li:hover .running__assist__ico--active, .main .running__assist li:focus .running__assist__ico--active, .main .running__assist li:active .running__assist__ico--active {
  opacity: 1;
}
.main .running__assist li::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 20px;
  z-index: -1;
  opacity: 0;
  background: #f2eafb;
  box-shadow: 3px 3px 8px #c3c3c3;
  transition: all 400ms;
}
.main .running__assist__ico {
  position: relative;
  font-size: larger;
  left: 12.5%;
  color: gray;
  z-index: 0;
}
.main .running__assist__ico--active {
  position: absolute;
  font-size: larger;
  left: 12.5%;
  color: #9356DC;
  opacity: 0;
  z-index: 1;
}
.main .running__assist__txt {
  position: absolute;
  text-align: left;
  left: 25%;
}
.main .running__assist__number {
  position: absolute;
  text-align: center;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  line-height: 30px;
  color: #fff;
  background-color: #9356DC;
  left: -15px;
}
.main .restos {
  background-color: #f2f2f2;
  width: 100%;
}
.main .restos__h2 {
  font-size: x-large;
  font-weight: 600;
  padding-top: 60px;
  margin: 50px 20px 20px 20px;
}
.main .restos__liste {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}
.main .restos .resto {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  height: 260px;
  background-color: #fff;
  box-shadow: 3px 3px 8px #c7c7c7;
  border-radius: 20px;
  margin: 0 20px 20px 20px;
  overflow: hidden;
}
.main .restos .resto__img {
  position: relative;
  width: 100%;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .restos .resto__btn {
  position: absolute;
  right: 40px;
  margin-top: 20px;
  background-color: #99E2D0;
  color: #1b6150;
  font-weight: 400;
  padding: 6px 12px;
  border-radius: 4px;
  box-shadow: 1px 1px 15px #7c7c7c;
}
.main .restos .resto__legend {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 85px;
  margin: 15px;
}
.main .restos .resto__legend__txt {
  flex-direction: column;
  justify-content: flex-start;
}
.main .restos .resto__legend__txt__h3 {
  font-size: large;
  margin: 0;
}
.main .restos .resto__legend__txt__location {
  margin: 0px;
}
.main .restos .resto__legend__like {
  display: block;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-right: 5px;
  font-size: 28px;
  position: relative;
}
.main .restos .resto__legend__like--full {
  color: #9356DC;
  background: linear-gradient(to top, #FF79DA 40%, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 0;
}
.main .restos .resto__legend__like--mask {
  position: absolute;
  color: #fff;
  background-color: transparent;
  top: -1px;
  left: -1px;
  z-index: 1;
  transform-origin: top;
  transform: scale(1.1);
  transition: 600ms ease-in-out 100ms;
}
.main .restos .resto__legend__like:hover .resto__legend__like--mask, .main .restos .resto__legend__like:focus .resto__legend__like--mask, .main .restos .resto__legend__like:active .resto__legend__like--mask {
  transform: scale(0%);
}
.main .restos .resto__legend__like--empty {
  position: absolute;
  top: 1px;
  left: -2px;
  padding: auto;
  font-size: 31px;
  background-color: transparent;
  z-index: 2;
}