body {
  font-family: "Roboto", sans-serif;
  font-size: medium;
  font-weight: 300;
  font-style: normal;
  background-color: #fff;
  width: 100%;
  margin: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 60px;
  padding-top: 10px;
  box-shadow: 0px 3px 6px #c3c3c3;
}

.logo {
  width: 200px;
  height: auto;
  margin: auto;
}

.footer {
  background-color: #222222;
  padding: 10px 20px 30px 30px;
  margin-top: -15px;
}
.footer__h4 {
  font-family: "shrikhand", sans-serif;
  font-weight: 100;
  font-size: 22px;
  color: #fff;
  margin-bottom: 0px;
}
.footer__list {
  list-style-type: none;
  padding: 0;
}
.footer__list__item a {
  display: inline-block;
  line-height: 25px;
  color: #fff;
  position: relative;
}
.footer__list__item__ico {
  font-size: 13px;
  top: 5px;
  position: absolute;
}
.footer__list__item__tabul {
  margin-left: 22px;
}

header {
  box-shadow: none;
}
header .home__btn {
  position: absolute;
  font-size: 24px;
  left: 20px;
}

.resto {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.resto__img {
  position: relative;
  width: 100%;
  height: 270px;
  object-fit: cover;
  overflow: hidden;
}
.resto__id {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 30px 20px;
  background-color: #f2f2f2;
  border-radius: 30px 30px 0 0;
  top: -60px;
}
.resto__id__h1 {
  font-family: "shrikhand", sans-serif;
  font-weight: 100;
  font-size: 28px;
}
.resto__id__like {
  font-size: 28px;
  position: relative;
}
.resto__id__like--full {
  position: relative;
  color: #9356DC;
  background: linear-gradient(to top, #FF79DA 40%, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.resto__id__like--mask {
  position: absolute;
  color: #f2f2f2;
  background-color: #f2f2f2;
  top: 0;
  left: -1px;
  transform-origin: top;
  transform: scale(1.1);
  transition: 600ms ease-in-out 100ms;
}
.resto__id__like:hover .resto__id__like--mask, .resto__id__like:focus .resto__id__like--mask .resto__id__like:active .resto__id__like--mask {
  transform: scaley(0);
}
.resto__id__like--empty {
  position: absolute;
  color: #000;
  top: 1px;
  left: -2px;
  font-size: 31px;
  background-color: transparent;
}
.resto .menu {
  position: relative;
  top: -100px;
  padding: 0px 20px 20px 20px;
  background-color: #f2f2f2;
  margin-bottom: -100px;
}
.resto .menu__part {
  margin-bottom: 30px;
}
.resto .menu__part__h2 {
  font-size: 19px;
  text-transform: uppercase;
  font-weight: 400;
  padding-bottom: 5px;
  margin-left: 10px;
  border-bottom: 4px solid #99E2D0;
  width: 50px;
}
@keyframes apparition {
  0% {
    transform: translatey(30%);
    opacity: 0;
  }
  100% {
    transform: translatey(0%);
    opacity: 1;
  }
}
.resto .menu__part__list {
  list-style-type: none;
  padding: 0;
}
.resto .menu__part__list .item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  height: 70px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 3px 3px 8px #c7c7c7;
  margin-bottom: 20px;
  overflow: hidden;
  animation: apparition 400ms ease-in-out both;
}
.resto .menu__part__list .item--1 {
  animation-delay: 200ms;
}
.resto .menu__part__list .item--2 {
  animation-delay: 400ms;
}
.resto .menu__part__list .item--3 {
  animation-delay: 600ms;
}
.resto .menu__part__list .item--4 {
  animation-delay: 800ms;
}
.resto .menu__part__list .item:hover .item__btn, .resto .menu__part__list .item:focus .item__btn, .resto .menu__part__list .item:active .item__btn {
  width: 25%;
}
.resto .menu__part__list .item:hover .item__btn__check, .resto .menu__part__list .item:focus .item__btn__check, .resto .menu__part__list .item:active .item__btn__check {
  transform: translatex(0) rotate(360deg);
}
.resto .menu__part__list .item:hover .item__legend, .resto .menu__part__list .item:focus .item__legend, .resto .menu__part__list .item:active .item__legend {
  width: 75%;
}
.resto .menu__part__list .item__legend {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  white-space: nowrap;
  padding: 0;
  padding: 15px;
  transition: width 600ms ease-in-out;
}
.resto .menu__part__list .item__legend__h3 {
  font-size: 17px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}
.resto .menu__part__list .item__legend__txt {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 14px;
}
.resto .menu__part__list .item__legend__txt__detail {
  text-overflow: ellipsis;
  overflow: hidden;
  width: calc(100% - 35px);
}
.resto .menu__part__list .item__legend__txt__price {
  width: 25px;
  padding: 0 0 0 10px;
  font-weight: 600;
}
.resto .menu__part__list .item__btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0%;
  background-color: #99E2D0;
  font-size: 25px;
  transition: all 600ms ease-in-out;
  overflow: hidden;
}
.resto .menu__part__list .item__btn__check {
  position: absolute;
  color: #fff;
  transform: translatex(75%) rotate(0deg);
  transition: transform 400ms 200ms ease-in-out;
}
.resto .order {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  background-color: #f2f2f2;
  margin-top: 0;
}
.resto .order__btn {
  text-align: center;
  margin: 0px 0 50px 0;
  width: 240px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  border: none;
  font-family: "Roboto", sans-serif;
  user-select: none;
  color: #fff;
  font-size: medium;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 3px 3px 8px #c7c7c7;
  background: linear-gradient(to left top, #9356dc, #ff79da);
  position: relative;
  z-index: 1;
}
.resto .order__btn:hover::after, .resto .order__btn:focus::after, .resto .order__btn:active::after {
  opacity: 1;
}
.resto .order__btn::after {
  content: "Commander";
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0;
  background: linear-gradient(to left top, #a978e3, #ffa2e5);
  box-shadow: 3px 3px 8px #c6c6c6;
  text-shadow: 1px 1px 2px #7c7c7c;
  border-radius: 25px;
  transition: all 400ms;
}
