header .home__btn {
  left: 10%;
}

.resto__img {
  height: 350px;
}
.resto__id {
  padding: 10px 11% 30px 10%;
}
.resto .menu {
  padding: 0 10% 20px 10%;
}
.resto .menu__part__list .item {
  height: 85px;
}
.resto .menu__part__list .item__legend__h3 {
  font-size: 18px;
}
.resto .menu__part__list .item__legend__txt {
  font-size: 15px;
}
.resto .menu__part__list .item__btn {
  font-size: 26px;
}

.footer {
  padding-left: 10%;
}
