@use "../utils/variables" as v;
@use "../utils/mixins" as m;

body {
    @include m.police--texte;
    font-size: medium;
    font-weight: 300;
    font-style: normal;
    background-color: v.$fond_1;
    width: 100%;
    margin: 0;
}