@use "../utils/variables" as v;
@use "../utils/mixins" as m;

.footer {
    background-color: v.$fond_3;
    padding: 10px 20px 30px 30px;
    margin-top: -15px;
    &__h4 {
        @include m.police--titres;
        font-size: 22px;
        color: v.$txt_2;
        margin-bottom: 0px;
    }
    &__list {
        list-style-type: none;
        padding: 0;
        &__item a {
            display: inline-block;
            line-height: 25px;
            color: v.$txt_2;
            position: relative;
        }
        &__item {
            &__ico {
                font-size: 13px;
                top: 5px;
                position: absolute;
            }
            &__tabul {
                margin-left: 22px;
            }
        }
    }
}
